<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.stringConexao"
            connectionString="server=localhost;user id=root;password=HORAdesair1748!!!;database=eleicaorepresentante;persistsecurityinfo=True;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>